@import url("./fonts.css");
@import url("../iconFonts/style.css");

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "GoogleSans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    background: #fcfcfc;
}
