.toWhom {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.order {
    text-align: center;
}

.preamble {
    text-indent: 20px;
}

.paragraph {
    margin: 20px;
}

.signature {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.signaturePosition {
    width: 40%;
    word-wrap: break-word;
}
