.wrapperPrintPage {
    display: flex;
    flex-direction: column;
    height: 297mm;
    width: 210mm;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 100px;
    margin-right: 10px;
}

.ic_icon:before {
    content: "\e916";
}

.companyTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px 13px 20px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid black;
}

.container {
    flex-grow: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid black;
    font-weight: 600;
}

@media print {
    .wrapperPrintPage {
        padding-top: 100px;
    }
    .header {
        position: fixed;
        top: 0px;
        left: 100px;
    }

    .footer {
        position: fixed;
        bottom: 0px;
        left: 70px;
    }
    p {
        page-break-inside: avoid;
    }

    @page {
        margin: 20px auto;
    }
}
