// .mainTitle {
//     font-size: 35px;
//     span {
//         font-size: 50px;
//         font-weight: 600;
//     }
// }

// %game-shared {
//     display: flex;
//     border: solid 1px black;
//     border-radius: 5px;
//     box-shadow: 0 0 5px rgb(158, 157, 157);
//     background-color: rgb(253, 251, 251);
//     color: black;
//     &:hover {
//         box-shadow: 0 0 10px rgb(128, 128, 128);
//     }
// }

// .button {
//     @extend %game-shared;
//     display: inline-block;
//     font-size: 20px;
//     padding: 5px 15px 5px 15px;
//     &:hover {
//         cursor: pointer;
//     }
// }

.wrapperPrintPage {
    display: flex;
    flex-direction: column;
    height: 297mm;
    width: 210mm;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 100px;
    margin-right: 10px;
}

.ic_icon:before {
    content: "\e916";
}

.companyTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px 13px 20px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 3px solid black;
}

.container {
    flex-grow: 1;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid black;
    font-weight: 600;
}

@media print {
    .wrapperPrintPage {
        padding-top: 100px;
    }
    .header {
        position: fixed;
        top: 0px;
        left: 100px;
    }

    .footer {
        position: fixed;
        bottom: 0px;
        left: 70px;
    }
    p {
        page-break-inside: avoid;
    }

    @page {
        margin: 20px auto;
    }
}
